{% extends 'base.html' %}

{% block content %}
  <h2>Person Form</h2>

  <form method="post" id="personForm" data-states-url="{% url 'ajax_load_states' %}" data-cities-url="{% url 'ajax_load_cities' %}" >
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'person_changelist' %}">Nevermind</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  
  <script>
    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-states-url");  // get the url of the `load_states` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-states/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_states` view function
          $("#id_state").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
  <script>
    $("#id_state").change(function () {
      var url = $("#personForm").attr("data-cities-url");  
      var stateId = $(this).val();  

      $.ajax({                      
        url: url,                    
        data: {
          'state': stateId       
        },
        success: function (data) {   
          $("#id_city").html(data);  
        }
      });

    });
  </script>
{% endblock %}